<div class="card p2" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title">Lista newsów</h5>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Lp.</th>
                    <th scope="col">Nagłówek</th>
                    <th scope="col">Tytuł</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Zawartość</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let newsItem of newsItemsList; let i=index;">
                    <td>{{i+1}}</td>
                    <td>{{newsItem.header}}</td>
                    <td>{{newsItem.title}}</td>
                    <td>{{newsItem.author}}</td>
                    <td>{{newsItem.content}}</td>
                    <td><a class="blue" (click)="showDetails(newsItem)">Szczegóły</a></td>
                    <td><a routerLink="/comment/add/{{newsItem.id}}">Dodaj swój komentarz!</a></td>
                </tr>

                <div class="card-body">
                    <h5 class="card-title">Komentarze do newsa</h5>
                    <div *ngFor="let commentItem of commentItemsList;">
                        <div class="alert alert-primary" role="alert">
                            {{commentItem.author}}: {{commentItem.content}}
                            <button class="btn btn-danger" (click)="deleteComment(commentItem)">Usuń</button>
                        </div>

                    </div>
                </div>