<div class="card p2" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title">Lista newsów</h5>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Lp.</th>
                    <th scope="col">Nagłówek</th>
                    <th scope="col">Tytuł</th>
                    <th scope="col">Autor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let newsItem of newsItemsList; let i=index;">
                    <td>{{i+1}}</td>
                    <td>{{newsItem.header}}</td>
                    <td>{{newsItem.title}}</td>
                    <td>{{newsItem.author}}</td>
                </tr>
        </table>
    </div>
</div>