<span class="navbar-text">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a id="apiNameMenuPage" class="navbar-brand" href="#">{{appName}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <ul class="nav nav-pills">
                    <li class="nav-item" [class.active]="menuStartIsActive" (click)="activateMenuItem('START')">
                        <a class="nav-link active" href="#">Start</a>
                    </li>
                    <li class="nav-item" [class.active]="menuLoginIsActive" (click)="activateMenuItem('LOGIN')">
                        <a class="nav-link" href="#">Logowanie</a>
                    </li>
                    <li class="nav-item" [class.active]="menuForumIsActive" (click)="activateMenuItem('FORUM')">
                        <a class="nav-link" href="#">Forum</a>
                    </li>
                    <li class="nav-item" [class.active]="menuNewsAddIsActive" (click)="activateMenuItem('NEWSADD')">
                        <a class="nav-link" href="#"> Dodaj nowy temat</a>
                    </li>
                    <li *ngIf="userIsAdmin" class="nav-item" [class.active]="menuAdministrationIsActive"
                        (click)="activateMenuItem('ADMINISTRATION')">
                        <a class="nav-link" href="#"> Administracja</a>
                    </li>
                </ul>
            </div>
        </div>
        Użytkownik {{userName}}
    </nav>
</span>